<!-- <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">POSTS</h5>
            <div class="row">
<div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let post of postData">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src={{post.imgSrc}} alt="card image"></p>
                            <h4 class="card-title">{{post.title}}</h4>
                            <p class="card-text">{{post.description}}</p>
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">Sunlimetech</h4>
                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section> -->

<div class="container">
        <mat-card *ngFor="let post of postData" class="width">
                <mat-card-header>
                  <div mat-card-avatar></div>
                  <mat-card-title>{{post.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{post.imgSrc}}" alt="Photo of a Post">
                <mat-card-content>
                  <p>
                        {{post.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
</div>