<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="#">Pet Zilla</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
    aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="navbar-nav">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/ourmedia" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/infotab" routerLinkActive="active">Info</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/rescue" routerLinkActive="active">Rescue</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li *ngIf="!auth.isLoggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="/login/register"><span class="fa fa-user"></span> Sign Up</a>
      </li>
      <li *ngIf="!auth.isLoggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="/login"><span class="fa fa-sign-in-alt"></span> Login</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="/ourmedia" (click)="logOut()"><span class="fa fa-sign-in-alt"></span> LogOut</a>
      </li>
    </ul>
  </div>
</nav>